
.header 
    div.links
        ul.app
            li.hit View it
                span.bang
            li.save Save            
        ul.system
            li.vote 
                iframe(src="http://nodeknockout.com/iframe/last-minute-submit", frameborder="0", scrolling="no", allowtransparency="true", width="115", height="25")
            li.about About
    h1 Mocker 
    h2 a web server in the client
    div.status saving
.content
    div.code-block
        div#files
            ul
                li.newFile new file +              
        div.code-container
            textarea
                /***
                *This default function is where 
                *all requests come to.  It is 
                *up to the programmer to 
                *route request, write to the response 
                *stream and end the response. 
                *
                *@param request contains headers and URL
                *@param response emits write, end
                */ 
                exports.handleResponse = function(request, response) {
            
                    response.write('hello world');
                    response.end();

                }


script(type='text/javascript')
    init();


