!!! 5
html(lang="en")
    head
        title Proxy Intercept
        script(src="/js/lib/jquery-1.6.1.js", type="application/javascript")
        script(src="/js/lib/mustache.js", type="application/javascript")
        script(src="/js/lib/underscore.js", type="application/javascript")
        script(src="/js/lib/backbone.js", type="application/javascript")
        script(src="/socket.io/socket.io.js", type="application/javascript")
      link(rel='stylesheet', href='/css/styles.css')
    body
        div#wrapper!= body
