!!! 5
html(lang="en")
    head
        title BrowServer
        script(src="https://www.google.com/jsapi?key=ABQIAAAAawmq4aHfbGTpFeCsHtOkWBQsQd0vIpKFCtufn2SIqWjCv8cOVxQ_kgsyr8jKORJb1U8IsMaowj4EYA", type="text/javascript")
        script(src="/js/lib/jquery-1.6.1.js", type="application/javascript")
        script(src="/js/lib/mustache.js", type="application/javascript")
        script(src="/js/lib/underscore.js", type="application/javascript")
        script(src="/js/lib/backbone.js", type="application/javascript")
        script(src="/socket.io/socket.io.js", type="application/javascript")
      link(rel='stylesheet', href='/css/styles.css')
    body
        div#wrapper!= body
